@import url("https://fonts.googleapis.com/css?family=Roboto:300");
@import url("https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

body {
  text-align: center;
  background: rgb(252, 250, 250);
  color: #002878;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 32px;
  height: 100vh;
  overflow: visible;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
}

.container {
  max-width: 100%;
}

#slidertro {
  justify-content: flex-end;
  color: #002878;
}

.intro {
  display: inline-block;
  overflow: hidden;
  white-space: normal;
  font-family: "Be Vietnam", sans-serif;
}

.intro:first-of-type {
  /* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
  animation: showup 5s infinite;
}

.intro ~ .intro {
  width: 0px;
  animation: reveal 5s infinite;
  white-space: normal;
}

.intro ~ .intro span {
  margin-left: -255px;
  animation: slidein 5s infinite;
  white-space: normal;
}

@keyframes showup {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }

  20% {
    margin-left: -800px;
  }

  35% {
    margin-left: 0px;
  }

  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }

  20% {
    opacity: 1;
    width: 0px;
  }

  30% {
    width: 350px;
  }

  /*higher width adds indent between Hello and the rest.*/
  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 350px;
  }
}

/*Next two media screens below fix the intro from running off screen on small screens. */
@media screen and (min-width: 480px) and (max-width: 500px) {
  .intro ~ .intro {
    font-size: 75%;
  }

  @keyframes slidein {
    0% {
      margin-left: -800px;
    }

    20% {
      margin-left: -800px;
    }

    35% {
      margin-left: 0px;
    }

    100% {
      margin-left: -100px;
    }
  }
  #slidertro {
    display: none;
  }
}

@media screen and (min-width: 501px) and (max-width: 575px) {
  .intro ~ .intro {
    font-size: 75%;
  }

  @keyframes slidein {
    0% {
      margin-left: -800px;
    }

    20% {
      margin-left: -800px;
    }

    35% {
      margin-left: 0px;
    }

    100% {
      margin-left: -70px;
    }
  }
  #slidertro {
    display: none;
  }
}

@media screen and (min-width: 576px) and (max-width: 700px) {
  .intro ~ .intro {
    // font-size: 75%;
  }

  @keyframes slidein {
    0% {
      margin-left: -800px;
    }

    20% {
      margin-left: -800px;
    }

    35% {
      margin-left: 0px;
    }

    100% {
      margin-left: -20px;
    }
  }
}

p {
  font-size: 18px;
}

.navbar {
  background-position: center;
  background: white;
  height: 300px;
  width: 100%;
  padding-bottom: 15px;
  font-size: 20px;
}

#navtro h1 {
  color: #ffcc00;
}

.logo-image {
  width: 43%;
  // height: 266px;
  border-radius: 50%;
  // overflow: hidden;
  margin-top: 6px;
}

.details {
  display: none;
}

img.workrow {
  object-fit: cover;
  width: 66%;
  height: 66%;
}

.workingmore {
  padding-bottom: 20px;
}

/*# sourceMappingURL=styles.css.map */

@function headings($from: 1, $to: 6) {
  @if $from==$to {
    @return "h#{$from}";
  } @else {
    @return "h#{$from}," + headings($from + 1, $to);
  }
}

#{headings(1,6)} {
  color: #ffcc00;
  font-family: "Be Vietnam", sans-serif;
}

#notlong {
  background: whitesmoke;
}

.nomarpad {
  margin: 0;
  padding: 0;
}

.fa {
  color: black;
  padding: 10px;
}

a.zoomcolor {
  color: white;
  /* First we need to help some browsers along for this to work.
       Just because a vendor prefix is there, doesn't mean it will
       work in a browser made by that vendor either, it's just for
       future-proofing purposes I guess. */
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  -moz-transition: 0.6s;
  -webkit-transition: 0.6s;
  /* ...and now for the proper property */
  transition: 0.6s;
  font-size: 14.88px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.zoom {
  transition: transform 0.2s;
  /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.07);
  transition: 0.3s;
}

a.zoomcolor:hover {
  color: white;
  background-color: #16233f;
  font-weight: bold;
  border-radius: 25%;
  transform: scale(1.08);
  transition: 0.4s;
}

a.nav-link {
  color: #ffcc00;
  font-weight: bold;
}

.aboutintro {
  margin: 4% 0 4% 0;
}

#headshot {
  border-radius: 15%;
}

a.nav-link.zoomcolor.active {
  color: #16233f;
  font-weight: bold;

  &:hover {
    color: #16233f;
    font-weight: bold;
    background-color: #ffcc00;
  }
}

.halfleft {
  width: 50%;
  h1 {
    font-size: 92px;
    margin-top: 50px;
    margin-bottom: 75px;
    margin-left: 20px;
    text-align: left;
  }

  p {
    text-align: left;
    margin: 2.5px 0 0 20px;
  }
}

.halfright {
  width: 50%;
  background-color: black;
}

canvas {
  display: block;
  margin: 0;
  padding: 0;
}

/*timeline css */

/* Import */

@import url("https://fonts.googleapis.com/css?family=Chivo:300,300i,400,400i,700,700i,900,900i|Saira+Extra+Condensed:100,200,300,400,500,600,700,800|Saira:100,200,300,400,500,600,700,800");

/* Variables */

$background: #252827;

$color-primary: #004ffc;
$color-light: #ffcc00;
$color-dim: #16233f;
$spacing: 50px;
$radius: 4px;

$date: 120px;
$dotborder: 4px;
$dot: 11px;
$line: 4px;

$font-title: "Saira", sans-serif;
$font-text: "Chivo", sans-serif;

/* Base */

.timelineA p {
  font-weight: 300;
}

.timelineA a {
  color: $color-dim;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  letter-spacing: 0.3em;
  font-size: 0.6em;
  font-weight: 400;
  background: #252727;
  padding: 0.3rem 1rem;
  margin: 1.9rem 0 0 0;
  float: right;
}

.timelineA a:hover {
  color: $color-light;
  background: $color-primary;
  border-bottom: 0.35em solid black;
}

.timelineA strong {
  font-weight: 600;
}

.timelineA h1 {
  font-family: $font-title;
  letter-spacing: 1.5px;
  color: grey;
  font-weight: 400;
  font-size: 2.4em;
}

#timeline-content {
  margin-top: $spacing;
  text-align: center;
}

/* Timeline */

.timeline {
  border-left: $line solid $color-primary;
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
  background: fade($color-light, 3%);
  color: fade(white, 80%);
  font-family: $font-text;
  margin: $spacing auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 20px;
  padding: $spacing;
  list-style: none;
  text-align: left;
  font-weight: 100;
  max-width: 30%;

  h1 {
    font-family: $font-title;
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 1.4em;
  }

  h2,
  h3 {
    font-family: $font-title;
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 1.4em;
  }

  .event {
    border-bottom: 1px dashed fade($color-light, 10%);
    padding-bottom: ($spacing * 0.5);
    margin-bottom: $spacing;
    position: relative;

    &:last-of-type {
      padding-bottom: 0;
      margin-bottom: 0;
      border: none;
    }

    &:before,
    &:after {
      position: absolute;
      display: block;
      top: 0;
    }

    &:before {
      left: ((($date * 0.6) + $spacing + $line + $dot + ($dotborder * 2)) * 1.5) * -1;
      color: fade($color-light, 40%);
      content: attr(data-date);
      text-align: right;
      font-weight: 100;
      font-size: 0.9em;
      min-width: $date;
      font-family: $font-title;
    }

    &:after {
      box-shadow: 0 0 0 $dotborder fade($color-primary, 100%);
      left: ($spacing + $line + ($dot * 0.35)) * -1;
      background: lighten($background, 5%);
      border-radius: 50%;
      height: $dot;
      width: $dot;
      content: "";
      top: 5px;
    }
  }
}
